{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="root" class="container min-h-screen bg-center bg-cover min-w-full">
    <div class="">
        <video autplay muted loop id="vid" class="mix-blend-overlay">
            <source src="/static/media/Voyagr1.mp4" type="video/mp4">
        </video>
        
        
        <nav class="text-white">
            <a href="/" id="logo" class="text-3xl hover:text-orange-700">Voyagr</a>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Destinations</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
            <a href="#" class="bg-orange-700 rounded-3xl py-2 px-6 font-medium 
            inline-block hover:bg-transparent hover:border-orange-400 
            text-white duration-300 hover:border border border-transparent">Book a trip</a>
        </nav>  
          
        <div class="text-center font-bold mt-60">
            <h1 class="text-7xl leading-normal animated animatedFadeInUp fadeInUp">
                <b class="text-white">Unbelievable</b>
                <b class="text-orange-700 ">Voyages</b>
            </h1>
            <p class="text-white text-3xl animated animatedFadeInUp fadeInUp">Out of this world</p>
            <div class="middle">
                <a href="#" class="bg-orange-700 rounded-3xl py-3 px-8 font-bold 
                inline-block hover:bg-transparent hover:border-orange-700 
                text-white duration-300 hover:border border border-transparent mt-5 animated animatedFadeInUp fadeInUp">See them all</a>
            </div>
        </div>
        <div class="mt-96">
            <div class="px-4 py-16 mx-auto sm:max-w-full md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
                <div class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full">
                    <div class="animated animatedFadeInUp fadeInUp overflow-hidden transition-shadow duration-300 rounded shadow-sm bg-white">
                        <img src="{{my_pic[0]}}" class="object-cover w-full h-64"  alt="">
                        <div class="p-5 border border-t-0">
                            <p class="animated animatedFadeInUp fadeInUp mb-3 text-xs font-semibold tracking-wide uppercase">
                                <a href="#" class="transition-colors duration-200" aria-label="Category" title="traveling">traveling</a>
                                <span class="text-gray-600">
                                    - Dec-Feb 
                                    2023
                                    ?
                                </span>
                                <a href="#" aria-label="Category" title="Go Abroad" class="animated animatedFadeInUp fadeInUp inline-block mb-3 text-orange text-2xl font-bold leading-5 transition-colors duration-200 text-orange-700 hover:text-blue-950 mt-3">Discover the World</a>
                                <p class="animated animatedFadeInUp fadeInUp mb-2 text-gray-700">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem numquam atque ea dolorem commodi beatae magnam nemo, vel quam facere earum animi! Quae dolores modi unde quod illo aliquam rem!
                                </p>
                                <a href="#" class="inline-flex items-center font-semibold border-sky-800 border-t-2 border-b-2 border-l-2 border-r-2 p-3 text-blue-900">View Destinations</a>
                            </p>
                        </div>
                    </div>
                    <div class="animated animatedFadeInUp fadeInUp overflow-hidden transition-shadow duration-300 rounded shadow-sm bg-white">
                        <img src="https://www.westinstore.com/images/products/lrg/westin-hotel-aegean-side-table-HB-862-SIDETBLE_lrg.jpg" class="object-cover w-full h-64"  alt="">
                        <div class="p-5 border border-t-0">
                            <p class="animated animatedFadeInUp fadeInUp mb-3 text-xs font-semibold tracking-wide uppercase">
                                <a href="#" class="transition-colors duration-200" aria-label="Category" title="traveling">traveling</a>
                                <span class="text-gray-600">
                                    - spring 
                                    2024
                                    ?
                                </span>
                                <a href="#" aria-label="Category" title="Go Abroad" class="animated animatedFadeInUp fadeInUp inline-block mb-3 text-orange text-2xl font-bold leading-5 transition-colors duration-200 text-orange-700 hover:text-blue-950 mt-3">Where Journeys Begin</a>
                                <p class="animated animatedFadeInUp fadeInUp mb-2 text-gray-700">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem numquam atque ea dolorem commodi beatae magnam nemo, vel quam facere earum animi! Quae dolores modi unde quod illo aliquam rem!
                                </p>
                                <a href="#" class="inline-flex items-center font-semibold border-sky-800 border-t-2 border-b-2 border-l-2 border-r-2 p-3 text-blue-900">See resort deals</a>
                            </p>
                        </div>
                    </div>
                    <div class="animated animatedFadeInUp fadeInUp overflow-hidden transition-shadow duration-300 rounded shadow-sm bg-white">
                        <img src="{{my_pic[1]}}" class="object-cover w-full h-64"  alt="">
                        <div class="p-5 border border-t-0">
                            <p class="animated animatedFadeInUp fadeInUp mb-3 text-xs font-semibold tracking-wide uppercase">
                                <a href="#" class="transition-colors duration-200" aria-label="Category" title="traveling">traveling</a>
                                <span class="text-gray-600">
                                    - summer 
                                    2024
                                    ?
                                </span><br>
                                <a href="#" aria-label="Category" title="Go Abroad" class="animated animatedFadeInUp fadeInUp inline-block mb-3 text-orange text-2xl font-bold leading-5 transition-colors duration-200 text-orange-700 hover:text-blue-950 mt-3">See Pics!</a>
                                <p class="animated animatedFadeInUp fadeInUp mb-2 text-gray-700">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem numquam atque ea dolorem commodi beatae magnam nemo, vel quam facere earum animi! Quae dolores modi unde quod illo aliquam rem!
                                </p>
                                <a href="#" class="inline-flex items-center font-semibold border-sky-800 border-t-2 border-b-2 border-l-2 border-r-2 p-3 text-blue-900">Explore Photos!</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="bg-orange-100">
            <div class="px-4 py-16 mx-auto sm:max-w-full md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
                <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
                    <h2 class="animated animatedFadeInUp fadeInUp max-w-lg mb-5 font-sans text-3xl font-bold tracking-tight text-orange-700 sm:text-4xl sm:leading-none md:mb-6 group">
                        <span class="inline-block mb-1 sm:mb-4">
                            Wake yourself up to the
                            <!-- <br class="hidden md:block"> -->
                            Wonders of the World
                        </span>
                        <div class="h-1 ml-auto duration-300 origin-left transform bg-deep-purple-accent-400 scale-x-30 group-hover:scale-x-100"></div>
                    </h2>
                    <p class="animated animatedFadeInUp fadeInUp text-right text-gray-700 lg:text-sm lg:max-w-wd">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, provident hic repellendus reprehenderit quo aut harum dolor excepturi neque corporis aliquam. Aspernatur alias porro non quidem fugit similique magni ipsa.
                    </p>
                </div>
                <div class="grid gap-6 row-gap-5 mb-8 lg:grid-cols-4 sm:row-gap-6 sm:grid-cols-2">
                    <a href="#" aria-label="View Item">
                        <div class="animated animatedFadeInUp fadeInUp relative overflow-hidden transition duration-200 transform rounded shadow-lg hover:-translate-y-2 hover:shadow-2xl">
                            <img src="{{my_pic[2]}}" class="object-cover w-full h-full md:h-64 xl:h-80" alt="">
                            <div class="absolute inset-0 px-6 py-4 transition-opacity duration-200 bg-black bg-opacity-75 opacity-0 hover:opacity-100">
                                <p class="mb-4 text-lg font-bold text-orange-700">Rome</p>
                                <p class="text-sm tracking-wide text-gray-300">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat assumenda ipsa consectetur at eos quia amet voluptatem quaerat vur.</p>
                                <a href="#" class="flex my-10 px-10 w-md">Visit this destination</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

