{% extends 'base.html' %}
{% block title %}Pics{% endblock %}
{% block content %}

<nav class="text-white bg-gray-900">
    <a href="/voyagr" id="logo" class="text-3xl hover:text-orange-700">Voyagr</a>
    <ul>
        <li><a href="/voyagr/about" class="hover:text-orange-700">About</a></li>
        <li><a href="/voyagr/destinations" class="hover:text-orange-700">Destinations</a></li>
        {% if session['username'] %}
        <li><a href="/voyagr/users/{{session['username']}}" class="hover:text-orange-700">Profile</a></li>
        <li><a href="/logout" class="hover:text-orange-700">Logout</a></li>
        {% else %}
        <li><a href="/voyagr/login" class="hover:text-orange-700">Login</a></li>
        {% endif %}
    </ul>
    <a href="#" class="bg-orange-700 rounded-3xl py-2 px-6 font-medium 
    inline-block hover:bg-transparent hover:border-orange-400 
    text-white duration-300 hover:border border border-transparent">Book a trip</a>
</nav> 

<div class="flex items-center justify-center py-4 md:py-8 flex-wrap mt-16">
    <a href="/voyagr/pics" class="border cursor-pointer border-white hover:border-orange-700 dark:bg-gray-900 bg-white focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Tokyo</a>
    <a href="/voyagr/pics/rome" class="border cursor-pointer border-white hover:border-orange-700 dark:bg-gray-900 bg-white focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Rome</a>
    <a href="/voyagr/pics/paris" class="border cursor-pointer border-white hover:border-orange-700 dark:bg-gray-900 bg-white focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Paris</a>
    <a href="/voyagr/pics/dubai" class="border cursor-pointer border-white hover:border-orange-700 dark:bg-gray-900 bg-white focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Dubai</a>
    <a href="/voyagr/pics/egypt" class="border cursor-pointer border-white hover:border-orange-700 dark:bg-gray-900 bg-white focus:ring-4 focus:outline-none rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-white dark:focus:ring-gray-800">Egypt</a>
</div>

<span>
    {% for msg in get_flashed_messages() %}
        <p class="text-orange-700 font-semibold text-center font-sans">{{msg}}</p>
    {% endfor %}
</span>


<div class="grid grid-cols-2 md:grid-cols-3 gap-4 animated animatedFadeInUp fadeInUp">
    {% for pic in pics3 %}
        <div>
            <img class="h-auto max-w-full rounded-lg" src="{{pic}}" alt="">
        </div>
    {% endfor %}
</div>




{% endblock %}


