{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="overflow-hidden bg-white">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
        <div class="flex flex-col items-center mt-8 justify-between xl:flex-row">
            <div class="w-full max-w-xl mb-12 xl:pr-16 xl:mb-0 xl:w-7/12">
                <div class="grid gap-10 lg:grid-cols-2">
                    <div class="flex items-center justify-center -mx-4 lg:pl-8">
                        <div class="header animated animatedFadeInUp fadeInUp flex flex-col items-end px-3">
                            <img class="object-cover mb-6 rounded shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56" src="https://screen-api.vizeater.co/files/1279053/-/preview/-/progressive/yes/-/format/jpeg/image.jpg" alt="" >
                            <img class="object-cover w-20 h-20 rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40" src="https://screen-api.vizeater.co/files/1279070/-/preview/-/progressive/yes/-/format/jpeg/image.jpg" alt="" >
                        </div>
                    </div>
                    <div class=" animated animatedFadeInUp fadeInUp mt-24 max-w-xs max-h-80	">
                        <img class="object-cover rounded shadow-lg sm:h-72 xl:h-72 sm:w-60 xl:w-60 " src="https://media.istockphoto.com/id/938577732/photo/woman-leading-the-way-while-traveling-in-the-desert.jpg?s=612x612&w=0&k=20&c=-a5q5roL3TF-_M7cCyIWEC9CiJzfqcBJgcK3RkbkDOc=" alt="" >
                    </div>
                </div>
            </div>  
            <div class="w-full max-wxl xl:px-8 xl:w-5/12">
                <div class="relative">
                    <div class="animated animatedFadeInUp fadeInUp relative bg-white rounded shadow-2xl sm:p-10">
                        <h3 class="animated animatedFadeInUp fadeInUp mb-4 text-xl font-semibold sm:mb-6 sm:text-2xl">Editing {{user.username}}</h3>
                        <form method="POST">
                            {{ form.hidden_tag() }}

                            {% for field in form
                            if field.widget.input_type != 'hidden' %}
                            <div class="animated animatedFadeInUp fadeInUp mb-1 sm:mb-2">
                                {{field.label(class_="inline-block mb-1 font-medium")}}
                                {{field(class_="flex-grow w-full h-12 px-4 mb-2 transition duration-200 bg-white border border-gray-300 rounded shadow-sm appearance-none focus:border-orange-500 focus:outline-none focus:shadow-outline")}}

                                {% for error in field.errors %}
                                {{error}}
                                {% endfor %}
                            </div>
                            {% endfor %}
                            <div class="mt-4 mb-2 sm:mb-4">
                                <button type="submit" class="animated animatedFadeInUp fadeInUp border-orange-100 border-t-2 border-b-2 border-l-2 border-r-2 py-2.5
                                 inline-flex items-center justify-center 
                                w-full h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded-full 
                                shadow-md bg-orange-700 hover:bg-cyan-600 focus:shadow-outline focus:outline-none ">
                                    Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
